<nav
  id="navbar-container"
  class="navbar-container__outer"
  (mouseenter)="hoverNavbar = true"
  (mouseleave)="hoverNavbar = false"
>
  <div
    class="navbar-container__inner"
    [ngClass]="{
      inactive: !(lockNavbar || hoverNavbar || pinNavbar),
      pinned: pinNavbar || lockNavbar
    }"
  >
    <img
      src="/assets/logos/jaimos-logo.png"
      alt=""
      class="h-4/5 cursor-pointer brightness-125 hover:brightness-200 transition-all duration-500"
    />
    <div
      class="gap-x-4"
      [ngClass]="!(lockNavbar || hoverNavbar || pinNavbar) ? 'hidden' : 'flex'"
    >
      <div class="nav-links">
        <a href="#about-me" class="nav-link__navbar">About</a>
        <a href="#skills" class="nav-link__navbar">Skills</a>
        <a href="#courses" class="nav-link__navbar">Courses</a>
        <a href="#experience" class="nav-link__navbar">Projects</a>
      </div>
      <p
        class="material-symbols-outlined utility-btn__navbar"
        title="Switch to light mode"
      >
        dark_mode
      </p>
      <p
        class="material-symbols-outlined utility-btn__navbar hover:translate-y-1"
        [ngClass]="{ 'translate-y-1 brightness-150': pinNavbar == true }"
        (click)="pinNavbar = !pinNavbar"
        [title]="pinNavbar ? 'Unpin me!' : 'Pin me!'"
      >
        {{ pinNavbar ? "keep_off" : "keep" }}
      </p>
    </div>
    <p
      class="material-symbols-outlined text-4xl text-darker-purple"
      [ngClass]="lockNavbar || hoverNavbar || pinNavbar ? 'hidden' : 'block'"
    >
      add
    </p>
  </div>
</nav>
