.navbar-container__outer {
  margin: 0 2%;
  top: -1px;
  @apply sticky z-10;
}

.navbar-container__inner {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(230, 230, 230, 0.5);
  border: 1px rgb(200, 200, 200) solid;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  right: 0;
  overflow-x: hidden;
  position: absolute;
  top: 1rem;
  transition: all 0.4s ease;
  width: 100%;
  @apply px-4 py-1 rounded-3xl mx-auto;
}

.navbar-container__inner.inactive {
  width: 12%;
  @apply pr-8;
}

.nav-links {
  align-items: center;
  display: flex;
  @apply gap-10 text-xl;
}

.nav-link__navbar {
  color: var(--DARKER-PURPLE);
  position: relative;
  transition: color 0.4s ease;
}

.nav-link__navbar:hover {
  filter: brightness(1.5);
}

.nav-link__navbar::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -4px;
  right: 0;
  transform: scaleX(0);
  background-color: var(--DARKER-PURPLE);
  transition: transform 0.3s ease;
  transform-origin: top right;
}

.nav-link__navbar:hover::before,
.nav-link__navbar:focus::before {
  transform-origin: top left;
  transform: scaleX(1);
}

.utility-btn__navbar {
  margin-top: -1.5rem;
  cursor: pointer;
  color: var(--DARKER-PURPLE);
  transition: transform 0.3s ease;
  @apply hover:brightness-150;
}
