<nav
  id="navbar-container"
  class="navbar-container__outer"
  (mouseenter)="hoverNavbar = true"
  (mouseleave)="hoverNavbar = false"
>
  <div
    class="navbar-container__inner"
    [ngClass]="{
      inactive: !(lockNavbar || hoverNavbar || pinNavbar),
      pinned: pinNavbar || lockNavbar
    }"
  >
    <img src="assets/logos/jaimos-logo.png" alt="" class="icon-img__navbar" />
    <div
      class="gap-x-4"
      [ngClass]="!(lockNavbar || hoverNavbar || pinNavbar) ? 'hidden' : 'flex'"
    >
      <div class="nav-links">
        <a href="#about-me" class="nav-link__navbar">{{
          "NAVBAR.LINKS.ABOUT" | translate
        }}</a>
        <a href="#skills" class="nav-link__navbar">{{
          "NAVBAR.LINKS.SKILLS" | translate
        }}</a>
        <a href="#courses" class="nav-link__navbar">{{
          "NAVBAR.LINKS.COURSES" | translate
        }}</a>
        <a href="#projects" class="nav-link__navbar">{{
          "NAVBAR.LINKS.PROJECTS" | translate
        }}</a>
      </div>
      <p
        class="material-symbols-outlined utility-btn__navbar"
        [title]="'NAVBAR.ICONS.TRANSLATE' | translate"
        (click)="ChangeLang()"
      >
        translate
      </p>
      <p
        class="material-symbols-outlined utility-btn__navbar hover:translate-y-1"
        [ngClass]="{ 'translate-y-1 brightness-150': pinNavbar == true }"
        (click)="pinNavbar = !pinNavbar"
        [title]="
          pinNavbar
            ? ('NAVBAR.ICONS.UNPIN' | translate)
            : ('NAVBAR.ICONS.PIN' | translate)
        "
      >
        {{ pinNavbar ? "keep_off" : "keep" }}
      </p>
    </div>
    <p
      class="material-symbols-outlined text-4xl text-darker-purple"
      [ngClass]="lockNavbar || hoverNavbar || pinNavbar ? 'hidden' : 'block'"
    >
      add
    </p>
  </div>
</nav>
<div
  [ngClass]="openNavbar ? 'block' : 'hidden'"
  class="absolute bg-black opacity-50 w-screen h-screen top-0 z-10 block md:hidden"
  (click)="openNavbar = false"
  (scroll)="openNavbar = false"
></div>
<nav id="navbar-container-sm" class="navbar-container-sm__outer">
  <div
    class="navbar-container-sm__inner"
    [ngClass]="{
      inactive: !openNavbar,
    }"
  >
    @if (openNavbar) {
    <div class="nav-links-sm">
      <a
        class="nav-link__navbar"
        (click)="openNavbar = false"
        [routerLink]="['/']"
        fragment="about-me"
        >{{ "NAVBAR.LINKS.ABOUT" | translate }}</a
      >
      <a href="#skills" class="nav-link__navbar" (click)="openNavbar = false">{{
        "NAVBAR.LINKS.SKILLS" | translate
      }}</a>
      <a
        href="#courses"
        class="nav-link__navbar"
        (click)="openNavbar = false"
        >{{ "NAVBAR.LINKS.COURSES" | translate }}</a
      >
      <a
        href="#projects"
        class="nav-link__navbar"
        (click)="openNavbar = false"
        >{{ "NAVBAR.LINKS.PROJECTS" | translate }}</a
      >
      <p
        class="material-symbols-outlined utility-btn__navbar absolute left-4 top-0"
        [title]="'NAVBAR.ICONS.TRANSLATE' | translate"
        (click)="ChangeLang()"
      >
        translate
      </p>
    </div>
    } @else {
    <p
      class="material-symbols-outlined text-4xl text-darker-purple"
      (click)="openNavbar = true"
    >
      add
    </p>
    }
  </div>
</nav>
