.courses-container__courses {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  position: relative;
  z-index: 1;
  @apply gap-y-8;
}

.courses-container__courses.first::before {
  border-color: var(--LIGHT-PURPLE);
  border-width: 0 2px 2px 0;
  bottom: 0;
  content: "";
  display: block;
  height: calc(100% + 2px);
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -5;
  @apply rounded-br-2xl;
}

.courses-container__courses.first::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: none;
  border-width: 2px;
  border-color: var(--LIGHT-PURPLE);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(39%, -100%);
  @apply text-4xl rounded-full;
}

.courses-container__courses.left::before {
  border-color: var(--LIGHT-PURPLE);
  border-width: 2px 0 2px 2px;
  bottom: 0;
  content: "";
  display: block;
  height: calc(100% + 2px);
  left: 0;
  position: absolute;
  width: 50%;
  z-index: -5;
  @apply rounded-l-2xl;
}

.courses-container__courses.right::before {
  border-color: var(--LIGHT-PURPLE);
  border-width: 2px 2px 2px 0;
  bottom: 0;
  content: "";
  display: block;
  height: calc(100% + 2px);
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -5;
  @apply rounded-r-2xl;
}

.courses-container__courses.last::before {
  border-color: var(--LIGHT-PURPLE);
  border-width: 2px 2px 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: calc(100% + 2px);
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -5;
  @apply rounded-tr-2xl;
}

.courses-container__courses.last::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: none;
  border-width: 2px;
  border-color: var(--LIGHT-PURPLE);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(44%, 98%);
  @apply text-4xl rounded-full;
}

.course-container__courses {
  cursor: default;
  align-items: center;
  display: flex;
  position: relative;
  @apply gap-x-4;
}

.course-container__courses::before {
  background-color: var(--LIGHT-PURPLE);
  content: "";
  height: 2px;
  position: absolute;
  top: 50%;
  width: 14px;
}

.course-container__courses.active::before {
  width: 22px;
}

.course-container__courses.left::before {
  right: -2rem;
}

.course-container__courses.right::before {
  left: -2rem;
}

.icon-container__courses {
  align-items: center;
  display: flex;
  height: 5.5rem;
  justify-content: center;
  @apply w-20;
}

@supports (animation-range: 0% cover 100%) {
  .icon-container__courses {
    animation-fill-mode: both;
    animation-name: show-icon;
    animation-range: 0% cover 100%;
    animation-timeline: --reveal;
    view-timeline-name: --reveal;
  }
}

@supports not (animation-range: 0% cover 100%) {
  .icon-container__courses {
    width: 5rem;
    animation-name: glow-img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}

@keyframes glow-img {
  from {
    filter: drop-shadow(0 0 5px var(--DARKER-PURPLE));
  }
  50% {
    filter: drop-shadow(0 0 5px var(--LIGHTER-PURPLE));
  }
  to {
    filter: drop-shadow(0 0 5px var(--DARKER-PURPLE));
  }
}

@keyframes show-icon {
  from {
    width: 0;
  }
  45% {
    width: 5rem;
  }
  55% {
    width: 5rem;
  }
  to {
    width: 0;
  }
}

.link-button {
  transition: scale 0.3s ease;
  scale: 1;
}

.link-button.inactive {
  scale: 0;
}
