<div class="timeline-container__courses">
  <div class="courses-container__courses first">
    @for (course of courses.slice(0,3); track $index) {
    <div
      class="course-container__courses left flex-row-reverse"
      [ngClass]="{
        active: activeCourse == course.title,
        'bg-slate-600/40 border-slate-700 border': $index == 0
      }"
      (mouseenter)="activeCourse = course.title"
      (mouseleave)="activeCourse = ''"
    >
      <figure class="icon-container__courses">
        <img
          [src]="'assets/icons/' + course.icon"
          [alt]="course.title"
          [ngClass]="course.iconWidth"
        />
      </figure>
      <div class="text-right relative">
        <h3 class="text-lighter-purple">
          {{ course.title }}
        </h3>
        <div
          class="flex items-center text-sm justify-between"
          [ngClass]="
            activeCourse == course.title ? 'justify-between' : 'justify-end'
          "
        >
          <button
            class="link-button h-fit px-3"
            (click)="goToLink(course.link)"
            [ngClass]="{ inactive: activeCourse !== course.title }"
          >
            {{ "COURSES.BUTTON" | translate }}
          </button>
          <p class="text-light-purple">
            {{ course.date | translate }}
            <br />
            {{ course.source }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
  <div class="courses-container__courses left text-left">
    @for (course of courses.slice(3,6); track $index) {
    <div
      class="course-container__courses right"
      [ngClass]="{ active: activeCourse == course.title }"
      (mouseenter)="activeCourse = course.title"
      (mouseleave)="activeCourse = ''"
    >
      <figure
        class="icon-container__courses"
        [ngClass]="{ inactive: activeCourse !== course.title }"
      >
        <img
          [src]="'assets/icons/' + course.icon"
          [alt]="course.title"
          [ngClass]="course.iconWidth"
        />
      </figure>
      <div>
        <h3 class="text-lighter-purple">
          {{ course.title }}
        </h3>
        <div class="flex items-center flex-row-reverse text-sm justify-between">
          <button
            class="link-button h-fit px-3"
            (click)="goToLink(course.link)"
            [ngClass]="{ inactive: activeCourse !== course.title }"
          >
            {{ "COURSES.BUTTON" | translate }}
          </button>
          <p class="text-light-purple text-left">
            {{ course.date | translate }}
            <br />
            {{ course.source }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
  <div class="courses-container__courses last">
    @for (course of courses.slice(6,9); track $index) {
    <div
      class="course-container__courses left flex-row-reverse"
      [ngClass]="{ active: activeCourse == course.title }"
      (mouseenter)="activeCourse = course.title"
      (mouseleave)="activeCourse = ''"
    >
      <figure
        class="icon-container__courses"
        [ngClass]="{ inactive: activeCourse !== course.title }"
      >
        <img
          [src]="'assets/icons/' + course.icon"
          [alt]="course.title"
          [ngClass]="course.iconWidth"
        />
      </figure>
      <div class="text-right relative">
        <h3 class="text-lighter-purple">
          {{ course.title }}
        </h3>
        <div class="flex items-center text-sm justify-between">
          <button
            class="link-button h-fit px-3"
            (click)="goToLink(course.link)"
            [ngClass]="{ inactive: activeCourse !== course.title }"
          >
            {{ "COURSES.BUTTON" | translate }}
          </button>
          <p class="text-light-purple">
            {{ course.date | translate }}
            <br />
            {{ course.source }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
