.section-container__about {
  background-image: url(../../assets/images/backgrounds/background-3-mobile.webp);
  background-attachment: fixed;
  background-color: var(--DARKER-PURPLE);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  max-height: 950px;
}

@media (min-width: 425px) {
  .section-container__about {
    background-image: url(../../assets/images/backgrounds/background-3-tablet.webp);
  }
}

@media (min-width: 1024px) {
  .section-container__about {
    background-image: url(../../assets/images/backgrounds/background-3-laptop.webp);
  }
}

@media (min-width: 1440px) {
  .section-container__about {
    background-image: url(../../assets/images/backgrounds/background-3-desktop.webp);
  }
}

.color-container__about {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  position: relative;
  @apply w-full h-full;
}

.about-me-photo__about {
  border-radius: 12px;
  border: 5px var(--LIGHTER-PURPLE) solid;
  height: 230px;
  object-fit: cover;
  object-position: 50% 65%;
  outline-offset: 15px;
  outline: 5px var(--DARK-PURPLE) solid;
  width: 230px;
}
