.section-container__courses {
  /* background-image: url(/assets/images/background-3.jpg); */
  background-attachment: fixed;
  background-color: var(--DARKER-PURPLE);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.color-container__courses {
  background-color: rgb(0, 0, 0, 0.4);
  @apply w-full h-full py-20;
}

/* .timeline-container {
  overflow-y: scroll;
  height: 70vh;
  @apply px-5;
}
 */
.courses-container {
  position: relative;
  z-index: 1;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  @apply gap-y-8;
}

.courses-container.first::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: calc(100% + 2px);
  right: 0;
  bottom: 0;
  border-width: 0 2px 2px 0;
  border-color: var(--LIGHT-PURPLE);
  z-index: -5;
  @apply rounded-br-2xl;
}

/* .courses-container.first::after {
  content: "°";
  position: absolute;
  right: -1.355%;
  color: var(--LIGHT-PURPLE);
  top: -1rem;
  @apply text-4xl;
} */

.courses-container.left::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: calc(100% + 2px);
  left: 0;
  bottom: 0;
  z-index: -5;
  border-width: 2px 0 2px 2px;
  border-color: var(--LIGHT-PURPLE);
  @apply rounded-l-2xl;
}

.courses-container.right::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: calc(100% + 2px);
  right: 0;
  bottom: 0;
  z-index: -5;
  border-width: 2px 2px 2px 0;
  border-color: var(--LIGHT-PURPLE);
  @apply rounded-r-2xl;
}

.courses-container.last::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: calc(100% + 2px);
  right: 0;
  bottom: 0;
  z-index: -5;
  border-width: 2px 2px 0 0;
  border-color: var(--LIGHT-PURPLE);
  @apply rounded-tr-2xl;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  @apply w-20;
}