.section-title__experience {
  background-color: var(--MAIN-BG);
  color: var(--DARKER-PURPLE);
  text-align: center;
  @apply py-14;
}

.section-container__experience {
  background-image: url(../../assets/images/backgrounds/background-5-mobile.webp);
  background-attachment: fixed;
  background-color: var(--DARKER-PURPLE);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; 
  min-height: 100vh;
}

@media (min-width: 425px) {
  .section-container__experience {
    background-image: url(../../assets/images/backgrounds/background-5-tablet.webp);
  }
}

@media (min-width: 1024px) {
  .section-container__experience {
    background-image: url(../../assets/images/backgrounds/background-5-laptop.webp);
  }
}

@media (min-width: 1440px) {
  .section-container__experience {
    background-image: url(../../assets/images/backgrounds/background-5-desktop.webp);
  }
}

.color-container__experience {
  background-color: rgba(24, 1, 20, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  @apply w-full gap-y-20 py-20 px-4;
}

.section-container-inner__experience {
  background-color: rgba(0, 0, 0, 0.5);
  @apply p-5 rounded-xl max-w-3xl w-full;
}

.sort-button {
  cursor: pointer;
  margin-left: 0.75rem;
}

.sort-button:hover,
.sort-button:focus {
  font-weight: 700;
}

.experience-container__experience {
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, 14rem);
  justify-content: center;
  max-height: 60vh;
  @apply mx-auto gap-5;
}

.experience-container__experience::-webkit-scrollbar {
  width: 10px;
}

.experience-container__experience::-webkit-scrollbar-track {
  background-color: #fff;
}

.experience-container__experience::-webkit-scrollbar-thumb {
  background-color: #888;
}

.experience-container__experience::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.experience-item__experience {
  display: flex;
  flex-direction: column;
  cursor: default;
  @apply gap-3 px-2;
}

.work-figure {
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  @apply rounded-md;
}

.work-image {
  height: 150px;
  position: relative;
  transition: filter 0.3s ease;
}

.work-image:hover {
  filter: opacity(0.8);
}

.work-description__experience {
  text-justify: distribute;
  text-align: justify;
  @apply text-xs text-base-purple;
}

button.red-button {
  background-color: none;
  border: 2px var(--LIGHT-PURPLE) solid;
  color: var(--LIGHT-PURPLE);
  transition: all 0.5s ease;
  @apply rounded-xl py-1;
}

button.red-button:hover,
button.red-button:focus {
  animation: pulse-animation 0.5s 1;
  border-color: white;
  color: white;
  background-color: rgb(175, 0, 0);
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
}
