.section-title__experience {
  background-color: var(--LIGHT-BG);
  color: var(--DARKER-PURPLE);
  text-align: center;
  @apply py-14;
}

.section-container__experience {
  /* background-image: url(/assets/images/background-3.jpg); */
  background-attachment: fixed;
  background-color: var(--DARKER-PURPLE);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.color-container__experience {
  background-color: rgb(0, 0, 0, 0.4);
  @apply w-full h-full py-20;
}
