.section-title__experience {
  background-color: var(--LIGHT-BG);
  color: var(--DARKER-PURPLE);
  text-align: center;
  @apply py-14;
}

.section-container__experience {
  /* background-image: url(/assets/images/background-3.jpg); */
  background-attachment: fixed;
  background-color: var(--DARKER-PURPLE);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.color-container__experience {
  background-color: rgb(0, 0, 0, 0.4);
  @apply w-full h-full py-20;
}

.sort-button {
  cursor: pointer;
  margin-left: 0.75rem;
}

.sort-button:hover,
.sort-button:focus {
  font-weight: 700;
}

.experience-container__experience {
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, 14rem);
  justify-content: center;
  max-height: 25rem;
  @apply max-w-3xl px-5 mx-auto gap-5;
}

.experience-container__experience::-webkit-scrollbar {
  width: 10px;
}

.experience-container__experience::-webkit-scrollbar-track {
  background-color: #fff;
}

.experience-container__experience::-webkit-scrollbar-thumb {
  background-color: #888;
}

.experience-container__experience::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.experience-item__experience {
  display: flex;
  flex-direction: column;
  cursor: default;
  @apply gap-3 px-2;
}

.work-image {
  cursor: pointer;
  height: 150px;
  @apply transition-transform;
}

.work-image.hovering {
  transform: scale(1.1);
}

button.red-button {
  background-color: none;
  border: 2px var(--LIGHT-PURPLE) solid;
  color: var(--LIGHT-PURPLE);
  transition: all 0.5s ease;
  @apply rounded-xl py-1;
}

button.red-button:hover,
button.red-button:focus {
  animation: pulse-animation 0.5s 1;
  border-color: white;
  color: white;
  background-color: rgb(175, 0, 0);
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
}
