footer {
  background-color: var(--SECONDARY-BG);
  height: fit-content;
}

.footer-container__footer {
  display: flex;
  max-width: 1440px;
  align-items: center;
  height: 110px;
  padding: 1rem;
  @apply mx-auto justify-center md:justify-between;
}

.network-icon__footer {
  cursor: pointer;
  transition: all 0.5s ease;
  filter: invert(59%) sepia(33%) saturate(398%) hue-rotate(224deg)
    brightness(89%) contrast(91%);
}

.network-icon__footer:hover,
.network-icon__footer:focus {
  filter: invert(86%) sepia(5%) saturate(6101%) hue-rotate(206deg)
    brightness(89%) contrast(69%);
}
