<section id="main-hero" class="section-container__main">
  <div class="color-container__main">
    <div class="intro-hero__main">
      <div class="text-right">
        <h1 class="text-5xl text-lighter-purple mb-4 leading-tight">
          Hello there,<br />
          I'm
          <span id="type-out-content" class="type-out__main"
            >&lt;Jaim<span>{{ letter }}</span
            >&gt;</span
          >
        </h1>
        <p class="text-xl text-light-purple">A Web Developer</p>
      </div>
      <img
        src="./assets/images/profile-photo.jpeg"
        alt="Profile photo"
        class="profile-photo__main"
      />
    </div>
    <div class="grid grid-cols-3 items-end gap-2 absolute top-4 left-4">
      @for (network of networksLinks; track network.title) {
      <img
        [src]="network.svg"
        [alt]="network.id"
        [title]="network.title"
        (click)="goToLink(network.link)"
        [class]="network.classes"
        class="network-icon__main"
      />
      }
    </div>
    <a class="scroll-button__main" href="#content">
      <span class="material-symbols-outlined text-2xl animate-pulse">
        &#xe5db;
      </span>
    </a>
  </div>
</section>
<div id="content">
  <app-navbar id="navbar"></app-navbar>
  <section id="about-me" class="section-container__about">
    <div class="color-container__about">
      <div
        class="flex flex-col md:flex-row gap-12 justify-center items-center h-fit"
      >
        <img
          class="about-me-photo__about"
          src=".\assets\images\about-me-photo.jpeg"
          alt="about-me-photo"
        />
        <div class="max-w-72">
          <h2 class="text-lighter-purple mb-5 text-center md:text-left">
            A little about me
          </h2>
          <p class="text-light-purple mb-5 text-justify md:text-left">
            I am a physics engineer and a varied technician who ended up working
            as web developer. I love to cook, psychology and minecraft.
          </p>
          <button class="link-button block px-7 text-lg mx-auto md:ml-0">
            Resume
          </button>
        </div>
      </div>
    </div>
  </section>
  <section id="skills" class="section-container__skills">
    <div class="max-w-3xl px-5 mx-auto text-center">
      <h2 class="text-darker-purple mb-10">
        Looking for a developer? <br />
        I might suit you
      </h2>
      <p class="text-dark-purple mb-10">
        Currently I'm mainly focused in frontend stuff, but I'm
        used to adapt to another tasks and roles like backend and design,
        therefore I have learned tools beyond my main area.
      </p>
      <div
        class="flex flex-wrap gap-x-8 gap-y-6 justify-center max-w-2xl mx-auto px-5"
      >
        @for (skill of skills; track $index) {
        <p class="skill-item__skills">{{ skill }}</p>
        }
      </div>
    </div>
  </section>
  <section id="courses" class="section-container__courses">
    <div class="color-container__courses">
      <div class="max-w-3xl px-5 mx-auto">
        <h2 class="text-lighter-purple mb-10">Always willing to learn</h2>
        <p class="text-light-purple mb-14">Si.</p>
        <app-timeline />
      </div>
    </div>
  </section>
  <section id="experience">
    <div class="section-title__experience">
      <h2 class="w-fit mx-auto">
        The work, <br />
        the experience
      </h2>
    </div>
    <div class="section-container__experience">
      <div class="color-container__experience">
        <p class="max-w-3xl px-5 mx-auto mb-5 text-base-purple text-sm">
          Sort by:<span
            class="sort-button"
            [ngClass]="{ 'font-bold': sortBy == 'all' }"
            (click)="sortBy = 'all'"
            >All projects</span
          >
          <span
            class="sort-button"
            [ngClass]="{ 'font-bold': sortBy == 'company' }"
            (click)="sortBy = 'company'"
            >Company</span
          >
          <span
            class="sort-button"
            [ngClass]="{ 'font-bold': sortBy == 'personal' }"
            (click)="sortBy = 'personal'"
            >Personal</span
          >
        </p>
        <div class="max-w-3xl px-5 mx-auto grid grid-cols-3 gap-x-3 gap-y-5">
          @for (work of sortExperience(experience); track $index) {
          <div
            class="flex flex-col gap-3 cursor-default"
            (mouseenter)="hoveringWork(work.image)"
            (mouseleave)="hoveringWork(work.image)"
          >
            <h3 class="text-lighter-purple">{{ work.title }}</h3>
            <figure
              (click)="goToLink(work.link)"
              class="overflow-hidden rounded-md"
            >
              <img
                [src]="'assets/images/' + work.image"
                [id]="work.image"
                alt=""
                class="work-image"
              />
            </figure>
            <p class="text-xs text-justify text-base-purple">
              {{ work.description }}
            </p>
            <button
              class="red-button text-sm px-3 w-fit"
              (click)="goToLink(work.link)"
            >
              Live URL
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </section>
</div>
<footer>
  <div class="h-fit self-end">
    <div class="grid grid-cols-3 items-end gap-1 w-fit">
      @for (network of networksLinks; track network.title) {
      <img
        [src]="network.svg"
        [alt]="network.id"
        [title]="network.title"
        (click)="goToLink(network.link)"
        [class]="network.Fclasses"
        class="network-icon__footer"
      />
      }
    </div>
    <p class="text-xs text-base-purple mt-3">
      Made with Angular 17, Tailwind and passion 💜
    </p>
  </div>
  <figure>
    <img src="/assets/logos/slogan_dark.png" alt="" class="h-full" />
  </figure>
</footer>
