<section id="main-hero" class="main-hero">
  <div class="color-hero">
    <div class="intro-hero">
      <div class="text-center md:text-right">
        <p class="text-3xl lg:text-5xl text-lighter-purple mb-4 leading-tight">
          Hello there, <br />
          I'm &lt;Jaime&gt;
        </p>
        <p class="text-lg lg:text-xl text-light-purple">A Web Developer</p>
      </div>
      <img
        src="./assets/images/profile-photo.jpg"
        alt="Profile photo"
        class="profile-photo"
      />
    </div>
    <button class="scroll-button">
      <span class="material-symbols-outlined text-2xl"> &#xe5db; </span>
    </button>
    <div class="grid grid-cols-3 absolute bottom-4 left-4 text-lighter-purple">
      @for (item of networksLinks; track item.title) {
        <button>{{ item.title }}</button>
      }
    </div>
  </div>
</section>
