.section-container__main {
  background-color: var(--DARKER-PURPLE);
  background-image: url(../../assets/images/backgrounds/background-1-mobile.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 425px) {
  .section-container__main {
    background-image: url(../../assets/images/backgrounds/background-1-tablet.webp);
  }
  .intro-hero__main {
    left: 60%;
    top: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .section-container__main {
    background-image: url(../../assets/images/backgrounds/background-1-laptop.webp);
  }
}

@media screen and (min-width: 1440px) {
  .section-container__main {
    background-image: url(../../assets/images/backgrounds/background-1-desktop.webp);
  }
}

.color-container__main {
  background-color: rgb(0, 0, 0, 0.4);
  position: relative;
  @apply w-full h-full;
}

.intro-hero__main {
  -ms-transform: translate(-50%, -50%);
  font-family: "Source Code Pro", monospace;
  left: 50%;
  position: absolute;
  top: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  @apply flex-col md:flex-row gap-8 md:gap-10;
}

.type-out__main {
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: fit-content;
}

.type-out__main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.1em;
  top: 0;
  right: 0;
  animation: blink 1s infinite;
}

.type-out__main.typing {
  animation: typing 2s steps(14, end) forwards;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  50% {
    width: 46%;
  }
  70% {
    width: 46%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--BASE-PURPLE);
  }
}

.profile-photo__main {
  border-radius: 50%;
  object-fit: cover;
  width: 160px;
  height: 176px;
  @apply mx-auto md:ml-auto;
}

.scroll-button__main {
  -ms-transform: translate(-50%, -50%);
  align-items: center;
  background-color: white;
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
  left: 50%;
  opacity: 0.4;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
  @apply rounded-full w-12 h-12 hover:bottom-3;
}

.network-icon__main {
  cursor: pointer;
  transition: all 0.5s ease;
  filter: invert(59%) sepia(33%) saturate(398%) hue-rotate(224deg)
    brightness(89%) contrast(91%);
  @apply scale-110 md:scale-100;
}

.network-icon__main:hover,
.network-icon__main:focus {
  filter: invert(86%) sepia(5%) saturate(6101%) hue-rotate(206deg)
    brightness(89%) contrast(69%);
}
