/* IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities; 

/* RESET AND GLOBAL*/
* {
  box-sizing: border-box;
  font-display: swap;
  font-family: "Space Mono";
  margin: 0;
  padding: 0;
}

:root {
  --DARKER-PURPLE: #231942;
  --DARK-PURPLE: #5E548E;
  --BASE-PURPLE: #9F86C0;
  --LIGHT-PURPLE: #BE95C4;
  --LIGHTER-PURPLE: #E0B1CB;
}