/* IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET AND GLOBAL*/
* {
  box-sizing: border-box;
  font-display: swap;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

h2 {
  @apply text-2xl;
}

:root {
  --DARKER-PURPLE: #231942;
  --DARK-PURPLE: #5e548e;
  --BASE-PURPLE: #9f86c0;
  --LIGHT-PURPLE: #be95c4;
  --LIGHTER-PURPLE: #e0b1cb;
  /* BACKGROUND */
  --DARK-BG: #1d1821;
  --LIGHT-BG: #d9d9d9;
}
