/* IMPORTS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET AND GLOBAL*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-display: swap;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--SECONDARY-BG);/*  */
  height: 100%;
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

h2 {
  @apply text-2xl;
}

.main-container {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

button.link-button {
  position: relative;
  border: 2px var(--LIGHT-PURPLE) solid;
  color: var(--LIGHT-PURPLE);
  transition: color 0.5s;
  overflow: hidden;
  z-index: 0;
  @apply rounded-xl py-1;
}

button.link-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background: var(--LIGHT-PURPLE);
  z-index: -1;
  transform-origin: 0 0;
  transform: translateX(-100%) skewX(-45deg);
  transition: transform 0.5s;
}

button.link-button:hover,
button.link-button:focus {
  color: var(--DARKER-PURPLE);
}

button.link-button:hover:before,
button.link-button:focus:before {
  transform: translateX(0) skewX(-45deg);
}

:root {
  --DARKER-PURPLE: #231942;
  --DARK-PURPLE: #5e548e;
  --BASE-PURPLE: #9f86c0;
  --LIGHT-PURPLE: #be95c4;
  --LIGHTER-PURPLE: #e0b1cb;
  /* BACKGROUND */
  --SECONDARY-BG: #19121c;
  --MAIN-BG: #d9d9d9;
}
